server:
    port: 8888

spring:
    profiles:
        active: native
    cloud:
        config:
            server:
                native:
                    search-locations: file:////Users/appkr/workspace/spmia/configsvr/src/main/resources/config/license-service