version: '2'

services:
    license-service:
        image: license-service:latest
        ports:
            - "8080:8080"
        networks:
            - spmia

    db:
        image: mysql:5.7.29
        volumes:
            - ~/volumes/jhipster/pointcharger/mysql/:/var/lib/mysql/
        environment:
            - MYSQL_USER=root
            - MYSQL_ALLOW_EMPTY_PASSWORD=yes
        ports:
            - 3306:3306
        command: mysqld --lower_case_table_names=1 --skip-ssl --character_set_server=utf8mb4 --explicit_defaults_for_timestamp
        networks:
            - spmia

networks:
    name: spmia
    driver: custom-driver-1
